/* NAVBAR */
#logo{
    height: 100px;
    width: 230px;
}
#loglogo{
    color: brown;
    font-size: 25px;
    font-weight: 500;
    
    
}   
nav,#navbar{
    background-color: black;
}   
nav,#navBottom{
    background-color: rgba(100, 6, 6, 0.905);
}
/* Conteudo */
div#sliderdiv{
    height: 600px;
    background-image: url(../img/bg-slider.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
#carouselExampleIndicators{
    height: 600px;
}
